*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/db/latest.dump
/db/old.dump
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
# config/initializers/secret_token.rb
/_dev/*
/public/attachment
/public/feature
/public/partner
/public/post
/public/user
/public/workout
/public/video
.DS_Store
.idea/

# Ignore application configuration
/config/application.yml
/config/database.yml
